footer {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

footer .footer-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .footer-icons-container .icons { 
    width: 300px;
    height: auto; /*auto para que sea tan grande como su container padre de su secction*/
    display: flex;
    justify-items: flex-end; /*Que los elementos se vayan hasta el final,como estan en el lado izquierdo; para que se vayan al lado derecho*/
    align-items: center; /*Como los elementos no tienen tanto tamaño como su container icons, voy a justificar todos los elementos para que se puedan centrar...*/
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
    text-decoration:none;
}

footer .icons span::before{
    color: black;
    font-size: 30px;
    text-decoration:none;
}

footer .footer-icons-container .icons a {
    text-decoration: none;
}